@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  font-family: 'Noto Sans', sans-serif;
}
body{
  background-image: url('bgframe.jpg');
  background-size:cover;
}

.topbar{
  margin-left: 160px;
}

.topbar a {
  color: white;
  margin-left: 30px;

}
.topbar a:hover{
  box-shadow: inset 0 -3px 0 0 #3370DF; 
}
.topbar img{
  box-shadow: none;
  margin-left: 10px;
  margin-right: 3px;
  margin-top: 10px;
}
.login a{ 
display: inline-block;
font-size: 1em;
  padding: 15px 10px;
  border-radius: 10%;
  border-color: #4682E3;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;


}

.text h2 {

  font-size: 40px;
  font: weight 400px; ;
  color: #fff;
  line-height: 1em;
  margin-left: 160px;
  margin-top: 160px;
  margin-bottom: 0px;
  padding: 0px;
  
}
.text hr {
  border-color: #0FF8CD;
  background-color: #0FF8CD;
  color: #0FF8CD;
  margin-left: 160px;
  
}
.text p {
  font-size: 1.1em;
  color: #fff;
  padding-top: 2px;
  margin-left: 160px;
  font-weight: 400;
  max-width: 700px;
  opacity: 70%;
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #4682E3;
  padding: 15px 10px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 160px;
  border-radius: 5%;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.2s;
}

.text a:hover
{
  background: #3370DF;
}

.topbar a {
  text-decoration: none;
}

.bottom img{
  margin-top: 130px;
  margin-left: 1200px;
}

.bottom a{

}